/* body{
    background-color: aquamarine;
    color: white;
} */


/* div{
    background-color: blue;
} */


span{
    background-color: rgb(236, 207, 241);
}

blockquote{
    color: pink;
}

td{
    border: 2px solid black;
}
